{% extends 'base/main.html' %} {% block content %}
<div class="bg-light w-50 m-auto rounded mt-5 p-3">
  <h1 class="text-center">Update Task</h1>
  <form method="POST" action="">
    {% csrf_token %}
    <p>{{form.as_p}}</p>

    <a style="text-decoration: none" href="{% url 'tasks' %}"
      >&#8592; Go back
    </a>
    <input
      class="button bg-primary border-0 text-light p-2 rounded"
      style="margin-left: 1rem"
      type="submit"
      value="Submit"
    />
  </form>
</div>
{% endblock content %}
